---
const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    
    <!-- Open Graph / Social -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    
    <!-- Schema.org for Google -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "@id": "https://yoursite.com",
        "name": "Психолог Мария Федотова",
        "image": "https://yoursite.com/image.jpg",
        "description": "{description}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Казахстан, Алматы",
          "addressLocality": "Алматы",
          "postalCode": "050000",
          "addressCountry": "KZ"
        }
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>